@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center">
        <img src="~/Images/Cover.jpg" asp-append-version="true" style="width:1000px; height:500px">
    </div>
</div>
